/* PHASE 7: Online */
.online {
  color: white;
  display: block;
  position: absolute;
  transform: rotate(-45deg) translateX(-25%);
  top: -10px;
  left: -10px;
  padding: 5px 30px;
  font-weight: bold;
  background-color: #0c0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  box-shadow: 0px 2px 0px 0px green;
}
.profile-picture {
  overflow: hidden;
}
